<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>DispatchController</filter-name>
        <filter-class>nguyentqk.controller.DispatchController</filter-class>
    </filter>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>nguyentqk.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/LogoutServlet</url-pattern>
        <url-pattern>/SearchRoomServlet</url-pattern>
        <url-pattern>/AddRoomToCartServlet</url-pattern>
        <url-pattern>/CheckoutServlet</url-pattern>
        <url-pattern>/ManageCartServlet</url-pattern>
        <url-pattern>/ShowCartServlet</url-pattern>
        <url-pattern>/ShowBookingHistoryServlet</url-pattern>
        <url-pattern>/DeleteBookingServlet</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DispatchController</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>nguyentqk.listener.ServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>nguyentqk.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>nguyentqk.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>nguyentqk.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRoomServlet</servlet-name>
        <servlet-class>nguyentqk.servlet.SearchRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomToCartServlet</servlet-name>
        <servlet-class>nguyentqk.servlet.AddRoomToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartServlet</servlet-name>
        <servlet-class>nguyentqk.servlet.ShowCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCartServlet</servlet-name>
        <servlet-class>nguyentqk.servlet.ManageCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>nguyentqk.servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBookingHistoryServlet</servlet-name>
        <servlet-class>nguyentqk.servlet.ShowBookingHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookingServlet</servlet-name>
        <servlet-class>nguyentqk.servlet.DeleteBookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRoomServlet</servlet-name>
        <url-pattern>/SearchRoomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomToCartServlet</servlet-name>
        <url-pattern>/AddRoomToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartServlet</servlet-name>
        <url-pattern>/ShowCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCartServlet</servlet-name>
        <url-pattern>/ManageCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBookingHistoryServlet</servlet-name>
        <url-pattern>/ShowBookingHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookingServlet</servlet-name>
        <url-pattern>/DeleteBookingServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
